.colorEl {
  height: 30px;
  width: 30px;
}

#preview {
  height: 100px;
  width: 35%;
  border-style: solid;
  position: absolute;
  right: 0;
  padding-left: 5px;
}

#previewPositioning {
  position: relative;
}

.dropdown-menu {
    padding: 5px;
}

.curStyle {
    font-weight: bold;
}